<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ImageShare.Data.Properties.Settings.ImageShareConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=ImageShare;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>