<div class="row">
    <h2>Sign up</h2>
    <div class="col-md-6 col-md-offset-3">
        <form action="/account/signup" method="POST">
            <input type="text" name="firstName" placeholder="First Name" class="form-control" />
            <br/>
            <input type="text" name="lastName" placeholder="Last Name" class="form-control" />
            <br/>
            <input type="text" name="emailAddress" placeholder="Email Address" class="form-control"/>
            <br/>
            <input type="password" name="password" placeholder="Password" class="form-control"/>
            <br/>
            <button class="btn btn-primary">Sign up</button>
        </form>
    </div>
</div>